forcediphttpsadapter~=1.1.0
homeassistant~=2025.1.4
numpy
PyYAML~=6.0.2
requests~=2.32.3
requests_cache
rdflib~=7.1.3
websocket-client~=1.8.0

voluptuous
PyJWT
aiohttp~=3.11.11
astral
Jinja2
httpx
multidict
yarl
SQLAlchemy
attrs
urllib3
aiodns
bleak
python-dateutil
pillow
fnvhash
ifaddr
ciso8601
typing_extensions
httpcore
pytz
awesomeversion
packaging
bcrypt
certifi
orjson
python-slugify
cryptography
oauthlib
securetar
boto3
botocore
psutil
Flask~=3.1.0
WTForms
requests-cache~=1.2.1
requests-oauthlib~=2.0.0